#landing-wrapper-container {
    background-color: #646464;
    background-image: url("/images/landing-1.jpg");
    animation: landing-background 10s infinite;
    background-position: center;
    background-size: cover;
}

@keyframes landing-background {
    0%{
        background-image: url("/images/landing-1.jpg");
    }
    12.5%{
        background-image: url("/images/landing-2.jpg");
    }
    37.5%{
        background-image: url("/images/landing-3.jpg");
    }
    62.5%{
        background-image: url("/images/landing-4.jpg");
    }
    87.5%{
        background-image: url("/images/landing-5.jpg");
    }
    100%{
        background-image: url("/images/landing-1.jpg");
    }
}

.flap {
    position: absolute;
    width: calc(100vw - 200px);
    height: calc(100vh - 20px);
    border-radius: 0 0 15px 15px;
    top: 0;
    left: 50vw;
    transform: translateX(-50%);
    opacity: .95;
}

.flap path {
    stroke-width: 0.2;
    stroke: #ffe873;
    fill: transparent;
    animation: path-dash 1.5s ease forwards, path-fill 2s 1.5s forwards;
}

@keyframes path-dash {
    to {
      stroke-dashoffset: 0;
    }
  }

@keyframes path-fill {
    to {
        fill: rgb(21, 21, 21);
    }
}

@media only screen and (max-width: 1250px) {
    .flap {
        width: calc(100vw - 100px);
    }
}