<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>call of Duty API | Python</title>
    <link rel="prefetch stylesheet" href="/css/common">
    <link rel="preload" href="/images/landing-1.jpg" as="image">
    <link rel="preload" href="/images/landing-2.jpg" as="image">
    <link rel="preload" href="/images/landing-3.jpg" as="image">
    <link rel="preload" href="/images/landing-4.jpg" as="image">
    <link rel="preload" href="/images/landing-5.jpg" as="image">
    <script defer src="/js/common"></script>
</head>
<body>
    <div id="top-wrapper-container" class="biggest-wrapper">
        <div class="heading"></div>
        <div class="badges"></div>
        <div class="nav me"></div>
        <div class="nav github"> </div>
        <div class="nav doc"></div>
        <div class="nav con"></div>
    </div>
    <div id="landing-wrapper-container" class="biggest-wrapper">
        <svg class="flap" viewbox="-0.5 0 67 42" preserveAspectRatio="none">
            <path id="landing-path" d="M0 0 0 28C0 41 0 41 29 41L37 41C66 41 66 41 66 29L66 0"/>
        </svg>
    </div>
    <div id="documentation-wrapper-container" class="biggest-wrapper"></div>
</body>
</html>